In [ ]:
import numpy as np

array_dim = 1000
point_array = []

for i in range(array_dim):
    x1 = np.random.normal(0.0, 0.5)
    y1 = x1 * 0.1 + 0.3 * np.random.normal(0.0, 0.3)
    point_array.append([x1, y1])

array_x = [v[0] for v in point_array]
array_y = [v[1] for v in point_array]

print(point_array)

In [35]:
with open('STOCK_CODE', 'r', encoding='UTF-8') as f:
    lines = f.read().splitlines()
stocks = [line.split('|')[0] for line in lines]

In [37]:
len(stocks)
#list(map(list, zip(*stocks)))

2312

In [38]:
import pandas as pd

In [198]:
from os import walk

path = r'C:\Users\taeil\Documents\GitHub\untitled'
f = []
for (dirpath, dirnames, filenames) in walk(path):
    f.extend(filenames)
    break
    
def read_frgn(filename):
    df = pd.read_csv(filename, 
                     sep='|', 
                     dtype=object, 
                     names=['입수일시','종목코드','매수구분','거래기관','거래량','_'])
    return df

# 201712월 frgn → One File로
k = [s for s in f if s[:14] == 'out_frgn201712']
l = pd.concat(map(read_frgn, k), ignore_index=True).drop_duplicates(keep='first')

l.to_csv('out_frgn201712.txt', sep='|', index=None, encoding='UTF-8')

In [179]:

m = k1.append(list(l), ignore_index=True).drop_duplicates(keep='first')

In [188]:
l

                  입수일시    종목코드 매수구분    거래기관      거래량    _
0   2017.12.20 기준(장마감)  000030   매도   유안타증권  113,481  NaN
1   2017.12.20 기준(장마감)  000030   매수  NH투자증권   77,024  NaN
2   2017.12.20 기준(장마감)  000030   매도    KB증권   89,455  NaN
3   2017.12.20 기준(장마감)  000030   매수     골드만   76,093  NaN
4   2017.12.20 기준(장마감)  000030   매도  미래에셋대우   85,858  NaN
5   2017.12.20 기준(장마감)  000030   매수  미래에셋대우   68,923  NaN
6   2017.12.20 기준(장마감)  000030   매도      교보   77,018  NaN
7   2017.12.20 기준(장마감)  000030   매수  하나금융투자   46,332  NaN
8   2017.12.20 기준(장마감)  000030   매도    키움증권   75,694  NaN
9   2017.12.20 기준(장마감)  000030   매수    메릴린치   44,801  NaN
10  2017.12.20 기준(장마감)  000030   매도    외국추정   88,821  NaN
11  2017.12.20 기준(장마감)  000030   매수    외국추정  124,222  NaN

In [177]:
k1 = pd.read_csv('out_frgn20171225221610.txt', sep='|', dtype=object, names=['입수일시','종목코드','매수구분','거래기관','거래량','_'])
k2 = pd.read_csv('out_frgn20171225230000.txt', sep='|', dtype=object, names=['입수일시','종목코드','매수구분','거래기관','거래량','_'])

k3 = k1.append([k2], ignore_index=True).drop_duplicates(keep='first')